:root {
    --pink : #f14e95;
    --shadow : 0 3px 3px rgb(0 0 0 / 0.2);
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    background-color: antiquewhite;
}

.navbar {
    
}

.navbar .navbar-brand {
    font-family: 'sacramento', cursive;
    font-size: 2rem;
    font-weight: bold;
    color: var(--pink);
    text-shadow: var(--shadow);
}

.navbar img {
    height: 40px;
}

.tentang{
    min-height: 100vh;
    background-color: bisque;
}

.tentang h1{
    font-family: 'charm';
}

.tentang .slogan{
    font-family: 'charm';
    font-weight: 400;
}

.tentang img {
    height: 200px;
}

.produk{
    min-height: 100vh;
    background-color: bisque;
}

.kontak{
    min-height: 100vh;
    background-color: bisque;
}

.footer{
    min-height: 20vh;
    background-color: bisque;
}